<!DOCTYPE html>
<html>
    <head>
        <title>Add new meal</title>
    </head>
    <body>
        <form action="/meals/save" method="POST">
            Meals <input type="text" name="name"><br/>
            Price <input type="number" name ="price"><br/>
            <input type="submit" value="Submit"/>
        </form>
    </body>
</html>